<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>旅行日记 - 地图标注</title>
    <link rel="stylesheet" type="text/css" href="/static/travel.css">
    <script src="https://cdn.bootcss.com/echarts/4.3.0-rc.2/echarts.js"></script>
    {#    <script type="text/javascript" src="https://www.echartsjs.com/examples/vendors/echarts/map/js/china.js"></script>#}
    {#    <script type="text/javascript" src="https://www.echartsjs.com/examples/vendors/echarts/map/js/world.js"></script>#}
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=QoTlpIgAAFGfgb7uV2xtrGkpeQUpr1h4"></script>
    <script type="text/javascript" src="https://www.echartsjs.com/examples/vendors/echarts/extension/bmap.min.js"></script>
</head>
<body>
    <h1>Hello, Map Marker!</h1>
    <div id="chart"></div>
    <script type="text/javascript" src="/static/travel.js"></script>
</body>
</html>
